@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #b0152c;
    color: #f8f8f8;
    align-items: center;

}

#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #e6e6e6;
    color:#ff4444;
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #ececec;
}

#carousel img {
    height:100% ;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    padding: 20px;
}

#main-new {
    width: 70%;
    background-color: #ad021bcc;
    margin: 20px auto;
    padding: 20px;
}

#aside {
width: 28%;
background-color: #eeff004a;
margin: 20px;
padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
}